$primary-bg-color: #ffffff;
$secondary-bg-color: #f8f9fa;
$hover-bg-color: #e9ecef;
$primary-text-color: #333;
$secondary-text-color: #666;
$tertiary-text-color: #495057;
$icon-color: #6c757d;
$delete-color: #dc3545;


$font-size-large: 28px;
$font-size-medium: 20px;
$font-size-small: 16px;
$font-size-xs: 14px;


$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xl: 32px;


$border-radius-small: 6px;
$border-radius-medium: 8px;
$border-radius-large: 12px;

$breakpoint-mobile: 768px;

// We can add further styles below depending on the need of project