.album-detail {
    padding: 20px;
    text-align: left;
  }
  img {
    max-width: 300px;
    height: auto;
  }

.album-info {
flex: 1;

h2 {
    margin-bottom: 10px;
}

.artist {
    font-style: italic;
    margin-bottom: 20px;
}

.track-list {
    h3 {
    margin-bottom: 10px;
    }

    ol {
    padding-left: 20px;
    }

    li {
    margin-bottom: 5px;
    }
}
}