<div *ngIf="album()" class="album-detail">
    <img [src]="album()?.cover" [alt]="album()?.title + ' cover'">
    <div class="album-info">
      <h2>{{ album()?.title }}</h2>
      <p class="artist">{{ album()?.artist }}</p>
      <div class="track-list">
        <h3>Tracks:</h3>
        <ol>
          <li *ngFor="let track of album()?.tracks" class="album-detail-item">
           <span>{{ track }}</span> 
            <button mat-icon-button (click)="addToPlaylist(track)" aria-label="Add to playlist">
              <mat-icon>add</mat-icon>
            </button>
          </li>
        </ol>
      </div>
    </div>
  </div>