<div class="album-list-container">
  <div class="filters">
    <mat-form-field>
      <mat-label>Sort by</mat-label>
      <mat-select [ngModel]="sortCriteria()" (selectionChange)="onSortChange($event.value)">
        <mat-option value="title">Title</mat-option>
        <mat-option value="artist">Artist</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter by artist</mat-label>
      <input matInput [ngModel]="filterArtist()" (input)="onFilterChange($event)">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="clearFilters()">Clear Filters</button>
  </div>
  <cdk-virtual-scroll-viewport class="album-viewport" itemSize="80">
    <div class="album-list">
      <div *cdkVirtualFor="let album of albums(); templateCacheSize: 5" class="album-item">
        <img [src]="album.cover" [alt]="album.title" class="album-thumbnail">
        <div class="album-info">
          <h3>{{ album.title }}</h3>
          <p>{{ album.artist }}</p>
        </div>
        <button mat-button color="primary" [routerLink]="['/album', album.id]">View Details</button>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>