@import '../../styles/variables.scss';

.album-list-container {
  display: flex;
  flex-direction: column;
  padding: $spacing-medium;
  background-color: $secondary-bg-color;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-medium;
  padding: $spacing-medium;
  background-color: $primary-bg-color;
  border-radius: $border-radius-medium;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: $spacing-medium;

  mat-form-field {
    flex: 1;
    min-width: 200px;
  }

  button {
    align-self: flex-start;
  }
}

.album-viewport {
  height: calc(100vh - 220px);
  width: 100%;
  border-radius: $border-radius-medium;
  background-color: $primary-bg-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.album-grid {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: $spacing-large;
  padding: $spacing-large;
}

.album-card {
  height: 320px;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }

  img {
    height: 220px;
    object-fit: cover;
    width: 100%;
  }

  mat-card-content {
    padding: $spacing-medium;

    h5 {
      font-size: $font-size-small;
      font-weight: 600;
      margin: 0 0 $spacing-small;
      color: $primary-text-color;
    }

    p {
      font-size: $font-size-xs;
      color: $secondary-text-color;
      margin: 0;
    }
  }
}


@media screen and (max-width: $breakpoint-mobile) {
  .album-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .filters {
    flex-direction: column;
    padding: 16px;

    mat-form-field {
      width: 100%;
    }

    button {
      width: 100%;
      margin-top: 8px;
    }
  }

  .album-card {
    height: 300px;

    img {
      height: 180px;
    }

    mat-card-content {
      padding: 12px;

      h5 {
        font-size: $font-size-xs;
      }

      p {
        font-size: 12px;
      }
    }
  }
}