<div class="album-list-container">
  <div class="filters">
    <mat-form-field>
      <mat-label>Sort by</mat-label>
      <mat-select [ngModel]="sortCriteria()" (selectionChange)="onSortChange($event.value)">
        <mat-option value="title">Title</mat-option>
        <mat-option value="artist">Artist</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter by artist</mat-label>
      <input matInput [ngModel]="filterArtist()" (input)="onFilterChange($event)">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="clearFilters()">Clear Filters</button>
  </div>
  <cdk-virtual-scroll-viewport class="album-viewport" itemSize="350" >
    <div class="album-grid">
      <mat-card *cdkVirtualFor="let album of albums()" [routerLink]="['/album', album.id]" class="album-card">
        <img mat-card-image [src]="album.cover" [alt]="album.title">
        <mat-card-content>
          <h5>{{ album.title }}</h5>
          <p>{{ album.artist }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>