.album-list-container {
  display: flex;
  flex-direction: column;

}

.filters {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.album-viewport {
  height: 100vh;
  width: 100%;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(1, 400px);
  gap: 20px;
  padding: 20px;
}

.album-card {
  height: 350px;
  cursor: pointer;
}

.album-card img {
  height: 180px;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 599.98px) {
  .album-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
}